<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aperture Science</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styleMain.css">
    <link rel="icon" href="/img/logo.png" type="image/x-icon">
</head>
<body>

    <!--header section inicio-->

    <header>

     <input type="checkbox" name="" id="toggler">
     <label for="toggler" class="fas fa-bars"></label>
        
        <a href="" class="logo"> <img src="/img/logo.png" style="width: 23px;" alt="">Aperture Science </a> 
        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#products">Products</a>
            <a href="#rewiew">rewiew</a>
            <a href="#contact">contact</a>      
        </nav>

        <div class="icons">
            <a href="" class="fas fa-heart"></a>
            <a href="" class="fas fa-shopping-cart"></a>
            <a href="/views/userPage.html" class="fas fa-user "></a>

        </div>

    </header>

    <!--header section final-->

    <!--home section inicio-->

        <section class="home" id="home">

            <div class="content">
                <h3>Aperture Science</h3>
                <span>hacemos lo que debemos por que podemos</span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti sit ipsam ipsa explicabo eaque? A minima vitae dicta expedita esse, consequatur amet reiciendis earum nobis, adipisci corrupti, aut unde? Excepturi?</p>
                   
                <a href="#" class="btn">compra ya</a>
            </div>    
            <div class="box-container">

                <div class="center">
                    <img src="/img/centerpiece.png" alt="">
                </div>
            </div>

        </section>

    <!--home section final-->

    <!--about section inicio-->
    
      <section class="about" id="about">

            <h1 class="heading"> <span>Sobre </span>nosotros </h1>

            <div class="row">
                    <div class="video-container">
                        <video src="/videos/sobrenosotros.mp4" loop autoplay muted></video>
                        <h3>mejor compañia de tecnologia</h3>
                    </div>
            <div class="content">
                <h3>¿Por que elegirnos?</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, sint eveniet dolores excepturi iste tenetur. Voluptates consequatur, dolore nemo aut hic maiores itaque delectus voluptatem rerum quam voluptatibus dolores magni!</p>
                <a href="#" class="btn">aprende mas</a>
            </div>

            </div>


      </section>      


    <!--about section final-->   

    <!--icons section inicio-->

     <section class="icons-container">

        <div class="icons">
            <img src="/img/envio.png" alt="">
            <div class="info">
                <h3>Envio gratis</h3>
                <span>con cupon</span>
            </div>
        </div>    
     

  

            <div class="icons">
                <img src="/img/seguridad.png" alt="">
                <div class="info">
                    <h3>seguridad</h3>
                    <span>en pagos y compras</span>
                </div>
            </div>    



        <div class="icons">
            <img src="/img/devolucion.png" alt="">
            <div class="info">
                <h3>10 dias devolucion</h3>
                <span>regreso de dinero</span>
            </div>
        </div>    
      

        
    

        <div class="icons">
            <img src="/img/regalos.png" alt="">
            <div class="info">
                <h3>Regalos y Descuentos</h3>
                <span>por acumulacion de compras</span>
            </div>    
        </div>
        
     </section> 

    <!--icons section final-->

    <!--products section inicio-->

     <section class="products" id="products">
        
        <h1 class="heading">Ultimos <span>Productos</span></h1>

        <div class="box-container">
            
            <div class="box">
                <span class="discount">-10%</span>
                <div class="image">
                    <img src="/img/laptopacer.png" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">agregar al carrito</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Laptop acer ryzen5</h3>
                    <div class="price">$2.500k<span>$3.000K</span></div>
                </div>
            </div>

            <div class="box">
                <span class="discount">-11%</span>
                <div class="image">
                    <img src="/img/pcgtx.png" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">agregar al carrito</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>PC amd xt 6600</h3>
                    <div class="price">$300k <span>$350k</span></div>
                </div>
            </div>

            <div class="box">
                <span class="discount">-12%</span>
                <div class="image">
                    <img src="/img/logitech2.png" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">agregar al carrito</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>GTV</h3>
                    <div class="price">$300k <span>$350k</span></div>
                </div>
            </div>

            <div class="box">
                <span class="discount">-13%</span>
                <div class="image">
                    <img src="/img/vipermini.png" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">agregar al carrito</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>GTV</h3>
                    <div class="price">$300k <span>$350k</span></div>
                </div>
            </div>

            <div class="box">
                <span class="discount">-14%</span>
                <div class="image">
                    <img src="/img/laptopacer.png" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">agregar al carrito</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>GTV</h3>
                    <div class="price">$300k <span>$350k</span></div>
                </div>
            </div>

            <div class="box">
                <span class="discount">-15%</span>
                <div class="image">
                    <img src="/img/laptopacer.png" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">agregar al carrito</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>GTV</h3>
                    <div class="price">$300k <span>$350k</span></div>
                </div>
            </div>

            <div class="box">
                <span class="discount">-16%</span>
                <div class="image">
                    <img src="/img/laptopacer.png" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">agregar al carrito</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>GTV</h3>
                    <div class="price">$300k <span>$350k</span></div>
                </div>
            </div>

            <div class="box">
                <span class="discount">-17%</span>
                <div class="image">
                    <img src="/img/laptopacer.png" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">agregar al carrito</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>GTV</h3>
                    <div class="price">$300k <span>$350k</span></div>
                </div>
            </div>

            <div class="box">
                <span class="discount">-18%</span>
                <div class="image">
                    <img src="/img/laptopacer.png" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">agregar al carrito</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>GTV</h3>
                    <div class="price">$300k <span>$350k</span></div>
                </div>
            </div>
            
            <div class="box">
                <span class="discount">-18%</span>
                <div class="image">
                    <img src="/img/portalgun.png" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="cart-btn">agregar al carrito</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Portal gun</h3>
                    <div class="price"><span>Agotada</span></div>
                </div>
            </div>

        </div>    

     </section>

    <!--products section final-->



    <!--rewiew section inicio-->
    <section class="rewiew" id="rewiew">
        <h1 class="heading">Reseñas <span> Clientes</span></h1>
        
        <div class="box-conta">

            <div class="box">
                <div class="stars">

                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>日本人は賢い日本人は賢い日本人は賢い日本人は賢い日本人は賢い日本人は賢い日本人は賢い.</p>
                <div class="user">
                    <img src="/img/cliente1.jpg" alt="">
                    <div class="user-info">
                        <h3>salo</h3>
                        <span>happy customer</span>
                    </div>
                </div>
                <span class="fas fa-quote-right"></span>
            </div>

            <div class="box">
                <div class="stars">

                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>como se a morir cerati como se a morir cerati como se a morir cerati como se a morir cerati como se a morir cerati   .</p>
                <div class="user">
                    <img src="/img/cliente3.jpg" alt="">
                    <div class="user-info">
                        <h3>victor</h3>
                        <span>happy customer</span>
                    </div>
                </div>
                <span class="fas fa-quote-right"></span>
            </div>

            <div class="box">
                <div class="stars">

                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>las mujeres y las mujeres y las mujeres y las mujeres y las mujeres y las mujeres y las mujeres y las mujeres .</p>
                <div class="user">
                    <img src="img/cliente2.png" alt="">
                    <div class="user-info">
                        <h3>Rico culo</h3>
                        <span>Cesde war criminal</span>
                    </div>
                </div>
                <span class="fas fa-quote-right"></span>
            </div>

        </div>

    </section>
    <!--rewiew section final-->

    <!--contact section inicio-->

    <section class="contact" id="contact">

        <h1 class="heading"> <span>contacta</span> con nosotros</h1>

        <div class="row">

            <form action="">
                <input type="text" placeholder="nombre" class="box">
                <input type="text" placeholder="email" class="box">
                <input type="text" placeholder="numero" class="box">
                <textarea name="" id="" class="box" placeholder="mensaje" cols="30" rows="10"></textarea>
                <input type="submit" value="enviar mensaje" class="btn">
            </form>
            <div class="image">
                <img src="/img/contacto.jpg" alt="">
            </div>
        </div>

    </section>



    <!--contact section final-->

    <!--footer section inicio-->

    <section class="footer">

        <div class="box-container">

            <div class="box">

                <h3>quick links</h3>
                <a href="" id="#home">Home</a>
                <a href="" id="#about">About</a>
                <a href="" id="#products">Products</a>
                <a href="" id="#rewiew">Rewiew</a>
                <a href="" id="#contact">Contact</a>
            </div>

            <div class="box">

                <h3>extra links</h3>
                <a href="" id="#">My account</a>
                <a href="" id="#">my order</a>
                <a href="" id="#">My favorite</a>
            </div>

            <div class="box">

                <h3>Ubicaciones</h3>
                <a href="" id="#">colombia</a>
                <a href="" id="#">USA</a>
                <a href="" id="#">antartida</a>
                <a href="" id="#">japan</a>
                <a href="" id="#">all europe</a>
            </div>

            <div class="box">

                <h3>contact info</h3>
                <a href="" id="#">+123-456-789</a>
                <a href="" id="#">nonosescriban@gmail.com</a>
                <a href="" id="#">catatumbo, colombia - 300109</a>
                <img src="/img/pagos.png" alt="">
            </div>

        </div>

       <div class="credit">
        
        <img src="/img/logo.png" style="width: 10px;" alt="">Aperture Science
        <img src="" alt="">
       </div> 

    </section>


    <!--footer section final-->


</body>
</html>